.message-text {
	background: #28323f;
	border: #181b1e;
	color: #f2f3f7;

	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}

.edit-btn {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.message-group {
	margin:4px;
}

.btn-sort,
.btn-sort:focus,
.btn-sort:active {
	outline: none
}

@media only screen and (max-width: 767px) {
	.message-edit,
	.message-text {
		min-height: 34px;
		height: auto;
	}
}