<!DOCTYPE html>
<html lang="en" ng-app="UberList">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/firebase.min.js"></script>
    <script src="js/angularfire.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>Anon List: AngularJS 1 + Firebase + AngularFire</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div ng-controller="ProfileCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>This is a Anon List (kind of like a chat window too)</h3>
                    <blockquote>AngularJS 1 + Firebase + AngularFire</blockquote>
                    <p><i>Online users: {{onlineUser}}</i></p>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Search</span>
                            <input class="form-control" type="text" placeholder="Key Word" ng-model="searchWord">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sort btn-sort-up" type="button" ng-click="sortBtnUp($event)">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button class="btn btn-primary btn-sort btn-sort-down active" type="button" ng-click="sortBtnDown($event)">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-group form-inline">
                        <div class="input-group message-group" ng-repeat="message in messages | filter : searchWord | orderBy : sortMethod">
                            <input class="message-edit form-control hidden" ng-model="message.text" ng-change="messages.$save(message)" maxlength="38">
                            <span class="form-control message-text" ng-dblclick="toggleEditMessage($event)">{{message.text}}</span>
                            <span class="message-id hidden">{{message.$id}}</span>
                            <span class="input-group-btn">
                                <button class="btn btn-danger delete-btn" ng-click="messages.$remove(message)"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-warning edit-btn visible-xs-inline" ng-click="toggleEditMessage($event)"><span class="glyphicon glyphicon-edit"></span></button>
                                <button class="btn btn-info hidden save-btn" ng-click="toggleEditMessage($event)"><span class="glyphicon glyphicon-ok"></span></button>
                            </span>
                        </div>
                    </div>

                    <form class="form-inline" ng-submit="addMessage()">
                        <input class="form-control add-message" ng-model="newMessageText" maxlength="38">
                        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
