<!DOCTYPE html>
<html lang="en" ng-app="messageBoard">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Anon List</title>
    <meta name="description" content="Working on a list using Angular.js and also Backbone.js. Basically trying to understand the whole MV*/MVC/MVVM etc framework using javascript.">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .main-img {
            max-width: 500px;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Experiment: Anon List</h1>
                <img class="main-img" src="image/angularjs-backbonejs-firebase.jpg" alt="Angular JS, Backbone JS, Firebase">

                <div class="well well-lg">
                    <h4>On going experimentation</h4>
                    
                    <p>Working on a list using Angular.js and also Backbone.js. Basically trying to understand the whole MV*/MVC/MVVM etc framework using javascript.</p>
                </div>

                <div class="panel-group" id="more-info">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-1" class="accordion-toggle" data-toggle="collapse" data-parent="#more-info">#More Info</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-1">
                            <div class="panel-body">
                                <strong>Frontend:</strong>
                                <ul>
                                    <li>jQuery</li>
                                    <li>Bootstrap</li>
                                    <li>Underscore</li>
                                    <li>Angular (1.5.0)</li>
                                    <li>Backbone (1.2.3)</li>
                                </ul>
                    
                                <strong>Backend</strong>
                                <ul>
                                    <li>Firebase (2.4.0)</li>
                                    <li>BackboneFire (0.5.1)</li>
                                    <li>AngularFire (1.1.3)</li>
                                </ul>

                                <p>Bootstrap for the frontend styling, Firebase for the async realtime database, Angularfire.js / Backbonefire.js to connect with the Firebase.</p>

                                <strong>Objective:</strong>
                                <ul>
                                    <li>
                                        Make list:
                                        <ul>
                                            <li>Able to "add", "delete", "edit" list item</li>
                                            <li>Editable via double clicking</li>
                                            <li>Sortable</li>
                                            <li>Searchable</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-group" id="message-board" ng-controller="MessageController">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-2" class="accordion-toggle" data-toggle="collapse" data-parent="#message-board">#Message Board</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="collapse-2">
                            <div class="panel-body" id="message-board">
                                <div class="form-group form-inline">
                                    <div class="input-group message-group" ng-repeat="message in data.angular">
                                        <span class="form-control message-text">{{message.text}}</span>
                                    </div>
                                    <div class="input-group message-group" ng-repeat="message in data.backbone">
                                        <span class="form-control message-text">{{message.text}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <strong>Built With:</strong>
                <ul>
                    <li><a href="index-angular.html" target="_blank">AngularJS 1 + Firebase + AngularFire</a></li>
                    <li><a href="index-backbone.html" target="_blank">Backbone + Firebase + BackboneFire</a></li>
                </ul>
                <strong>Repo: BitBucket</strong>
                <a href="https://bitbucket.org/mdhilwan/anonlist" target="_blank">bitbucket.org/mdhilwan/anonlist</a>
            </div>
        </div>
    </div>
    
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/underscore.min.js"></script>

    <!-- Firebase -->
    <script src="js/firebase.min.js"></script>
    <script src="js/angularfire.min.js"></script>

    <!-- Index js -->
    <script src="js/index.js"></script>
</body>

</html>
