<!DOCTYPE html>
<html lang="en" ng-app="UberList">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">

    <title>Anon List: Backbone + Firebase + BackboneFire</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div ng-controller="ProfileCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>This is a Anon List (kind of like a chat window too)</h3>
                    <blockquote>Backbone + Firebase + BackboneFire</blockquote>
                    <p><i>Online users: {{onlineUser}}</i></p>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Search</span>
                            <input class="form-control" type="text" placeholder="Key Word" ng-model="searchWord">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sort btn-sort-up" type="button" ng-click="sortBtnUp($event)">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </button>
                                <button class="btn btn-primary btn-sort btn-sort-down active" type="button" ng-click="sortBtnDown($event)">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    
                    <!-- App View -->
                    <div id="app-view">
                        <div class="form-group form-inline list">
                        </div>
                        <div class="form-inline">
                            <input class="form-control list-name" maxlength="38">
                            <button class="btn btn-success add-list"><span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" class="list-template">
        <input class="message-edit form-control hidden" maxlength="38" value="<%= text %>">
        <span class="form-control message-text"><%= text %></span>
        <span class="message-id hidden"><%= text %></span>
        <span class="input-group-btn">
            <button class="btn btn-danger delete-btn"><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-warning edit-btn visible-xs-inline"><span class="glyphicon glyphicon-edit"></span></button>
            <button class="btn btn-info hidden save-btn"><span class="glyphicon glyphicon-ok"></span></button>
        </span>
    </script>

    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/backbone.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Firebase -->
    <script src="js/firebase.min.js"></script>
    <script src="js/backbonefire.min.js"></script>

    
    <!-- Main -->
    <script src="js/main-backbone.js"></script>
    <script src="js/collections/lists.js"></script>
    <script src="js/models/list.js"></script>
    <script src="js/views/list.js"></script>
    <script src="js/views/app.js"></script>


</body>

</html>
